.portfolio-wrapper {
    width: 1020px;
    height: 864px;
    background-color: #2d303a;
    max-height: 100%;
}
.portfolio-line {
    width: 1020px;
    height: 6px;
    background-color: #323746;
}
h2 {
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 60px 0 0 41px;
    display: inline-block;
    margin: 0;
}
p {
    width: 940px;
    height: auto;
    font-size: 18px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 100;
    text-align: left;
    display: inline-block;
    padding: 20px 0 0 41px;
    margin: 0;
    line-height: 27px;
}
.filter {
    font-size: 12px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 200;
    text-align: left;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 11px 0 15px 36px;
}
.filter__item {
    border-radius: 6px;
    border-style: solid;
    border-width: 0.5px;
    padding: 2.5px 7px 2.5px 7px;
    margin: 5px;
    cursor: pointer;
}
.colored {
    color: #ffffff;
}
.portfolio {
    height: 664px;
}
.portfolio__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
    margin-left: 31px;
    margin-right: auto;
    height: 205px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-height: 205px;
}
.portfolio__image {
    vertical-align: middle;
    padding: 0 10px 0 10px;
}
.about {
    width: 1020px;
    height: 728px;
    background-color: #f2f2f2;
}
.about-line {
    width: 1020px;
    height: 6px;
    background-color: #ffffff;
}
.about__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
    margin-left: 31px;
    margin-right: auto;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}
.about__container__photos {
    padding: 47px 0 8px 41px;
}
.about__image {
    padding: 0 5px;
}
.about__container__names {
    display: flex;
    flex-direction: row;
    width: 752px;
    margin-left: 47px;
    margin-right: auto;
    height: 21px;
    justify-content: space-between;
    font-size: 16px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}
.about__container__names h3 {
    margin: 0;
}
.name-space {
    padding-left: 18px;
}
.about__container__text {
    display: flex;
    flex-direction: row;
    width: 955px;
    margin-left: 47px;
    margin-right: auto;
    height: 21px;
    justify-content: space-between;
    align-items: left;
}
.about__container__text p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 200;
    text-align: left;
    padding: 13px 0 0 0;
}
.about__container__social-icons {
    display: flex;
    flex-direction: row;
    width: 793px;
    margin-left: 41px;
    margin-right: auto;
    height: 21px;
    justify-content: space-between;
    align-items: left;
    padding: 54px 0 0 0;
}
.about__icon {
    cursor: pointer;
}